@import '$assets/scss/main.scss';

.scrollMenuWrapper {
}

.albumMenuTitleWrapper {
  flex: 1;
}

.heading {
  font-size: $title;
  color: $white;
}

.dragSpace {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.wrapperBoxes {
  position: absolute;
  display: flex;
}
