@import '$assets/scss/main.scss';

.wrapper {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.heading {
  font-size: 5rem;
  color: $tertiary-black;
  font-weight: bold;
}

.content {
  color: $tertiary-black;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.subheading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.panel {
  position: relative;
  top: 8rem;
}

.clouds {
  position: absolute;
  z-index: -1;
}
