.heading-1 {
  font-weight: 500;
  font-family: Montserrat;
  font-size: $heading;
  color: $secondary-green;
}

.heading-2 {
  font-weight: 700;
  font-family: Montserrat;
  font-size: $heading;
  color: $secondary-green;
}

