// SIZE
$heading: 24px;
$title: 18px;
$normal-text: 14px;

$margin-top: 2.5rem;

// COLORS
$primary-green: #1A394B;
$secondary-green: #66CCCC;
$primary-gray: #C1C1C1;
$primary-blue: #3B8CBC;
$secondary-gray: #8C8C8C;
$white: #FFFFFF;
$dark-green: #346480;
$tertiary-gray: #727C7C;
$secondary-white: #F5F7FB;
$dark-gray: #514E4E;
$secondary-blue: #3A8BBB;
$light-gray: #DDDDDD;
$border-gray: #C4C4C4;
$tertiary-blue: #367CA6;
$primary-red: #FF002F;
$black: #000000;
$secondary-black: #0C1A22;
$tertiary-black: #34353D;
$pink: #EA4C89;
$primary-light-gray: #F7F5F5;
$secondary-light-gray: #F1F1F1;

// Z-INDEX
$z-index-lift: 9;
$z-index-next: 99;
$z-index-lifter: 999;
$z-index-last: 9999;
