@import '$assets/scss/main.scss';

.homeContent {
  padding: 0 2.5rem 5rem;
  color: $white !important;
}

.homeTabsWrapper {
  margin-top: 9rem;
  margin-bottom: 2rem;
}

.homeHeading {
  font-family: Montserrat;
  font-weight: 700;
  font-size: $heading;
  color: $secondary-green;
}
