@import '$assets/scss/main.scss';

.artistViewContainer {
  margin-top: $margin-top;
  padding-bottom: 8em;
  p {
    color: $white !important;
  }
}

.artistCoverWrapper {
  height: 350px;
  width: 100%;
}

.artistHeaderWrapper {
  position: relative;
  top: -60px;
  padding: 0 4rem;
}

.artistHeaderInfopane {
  flex: 2;
  padding: 0 2rem;
}

.artistHeaderActionpane {
  flex: 1;
}

.artistTitle {
  font-family: Roboto;
  font-weight: 700;
  font-size: 25px;
  color: $white;
  text-shadow: 0px 0px 2px $black;
}

.artistSubtitle {
  font-family: Roboto;
  font-weight: 700;
  font-size: $title;
  border-bottom: 3px solid $pink;
  color: $white;
  text-shadow: 0px 0px $black;
  width: 50px;
}

.artistActionIcon {
  width: 20px;
}
