@import '$assets/scss/main.scss';

.shareDescriptionWrapper {
  flex: 2;
  padding: 1rem;
}

.shareSocialsWrapper {
  flex: 1;
  padding: 1rem;
}

.shareInput {
  padding: 0 1rem;
  &:focus {
    outline: none;
    padding: 0 1rem;
  }
}

.shareRegionText {
  font-size: 16px;
  font-weight: bold;
}

.textInputContainer {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid $border-gray;
  margin: 8px 0;
  overflow: hidden;
}
